# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
backend/venv/

# ==========================
# AI Model
# ==========================
backend/tb_model.h5

# Dataset
backend/dataset/
TB_Chest_Radiography_Database/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Vercel
# ==========================
.vercel/

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/